{%extends 'everything/base.html'%}
{% block content %} 

<div class="container">
<div class="this card mb-3">
        <div class="card-header"><a href="{%url 'profiles' image.creator.username %}">{{image.creator.username}}</a></div>
        <img class="card-img-top img-fluid" src="{{image.image.url}}" alt="Card image cap">
        <div class="card-body">
                <div class="likes">
                        <p class="p-3 ml-2"></p>
                      </div>
          <p class="card-title"><strong><a href="/vote/?id={{ image.id }}"><i class="fas fa-heart"></i></a>  {{image.likes}} likes</strong></p>
          <p class="Instagram-card-content-user card-text">{{image.caption}}</p>
        </div>
        
        <p class="comments">View {{comment|length}} comments</p>
        {% for comments in comment %}
        <span><a class="user-comment" href="{%url 'profiles' comments.user.username %}">{{comments.user.username}}</a> {{comments.comment_content}}</span>
        {%endfor%}
        <div class="Instagram-card-footer">
          <form action="{% url 'add' image.id %}" method="POST">
            {% csrf_token %}
            {{form.comment_content}}
          </form>
          </div>
          <p class="card-text"><small class="text-muted">Last updated {{image.post_date|timesince}} ago</small></p>
      </div>
    </div>
{%endblock%}