{%extends 'everything/base.html'%}
{% block content %} 


  <div class="container">

    {% for images in images %}
<div class="this">
  <div class="card mb-3">
        <a href="{%url 'profiles' images.creator.username %}"><div class="list-group-item-action card-header">{{images.creator.username}}</div></a>
        <a href="{%url 'image' images.id%}"><img class="card-img-top img-fluid" src="{{images.image.url}}" alt="Card image cap"></a>
        <div class="card-body">
                <div class="likes">
                        <p class="p-3 ml-2"></p>
                      </div>
          <p class="card-title"><strong><i class="fa fa-heart-o nx"></i> {{images.likes}} likes</strong></p>
          <p class="card-text">{{images.caption}}</p>
          <p class="card-text"><small class="text-muted">Last updated {{images.post_date|timesince}} ago</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
      {% endblock %}
